<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="page-1">    
    <div class="overflow">
        <span class="bulet bulet1"></span>
        <span class="bulet bulet2"></span>
        
        <header>
            <h1> MENGURUTKAN HASIL TES ONLINE <br /> UNTUK MEMBUAT RANGKING NASIONAL</h1>
        </header>

        <div class="button-group">
            <a href="/index.html" class="btn">MASUK</a>
        </div>
    
    </div>

    <div class="footer">
        <span>103012300142</span>
        <span>103012300326</span>
    </div>
    <script src="static" href = "/static/script.js"></script>
</body>
</html>